body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 56px;
  scroll-behavior: smooth;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: inter;
  src: url('./Inter/Inter-Bold.otf');
}

@font-face {
  font-family: inter_light;
  src: url('./Inter/Inter-Light.otf');
}

@font-face {
  font-family: apple_ui;
  src: url('./SF-Apple/SF-Pro-Display-Bold.otf');
}
@font-face {
  font-family: inter_medium;
  src: url('./Inter/Inter-Medium.otf');
}

.nav-item:hover{
  background-color: #37377f;
  border-radius: 10px;    
}

.nav-link{
  padding-left: 5px;
}

.navbar {
  position: fixed; /* Fix the navbar at the top of the page */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050; /* Keep it above other content */
}

.placepoint_highlighter{
  font-weight: bold;
  font-family: inter;
  margin-left: 100px;
}

.heading-css{
  padding-top: 110px;
  font-size: 46px;
  font-weight: bold;
  line-height: 1.15;
  color: white;
}

.subheading-css{
  color: #f2f2f5;
  font-family: inter_light;
  font-size: 20px;
  margin-top: 30px !important;
  font-weight: 500;
}

.button_styler{
  font-family: inter_light;
  font-weight: 400;
}

.bg-gradient-dark {
  background: linear-gradient(135deg, #1a1a2e, #16213e); /* Replace with your colors */
  /* color: white; Ensures text is visible on dark background */
  /* background-image: url('./logo.svg'); */
  min-height: 92vh; 
  margin: 0;
  padding: 0;
}

.navbar{
  /* background: linear-gradient(135deg, #27275a, #16213e) !important; */
  background-color: #282c55 !important;
}

.feature_font{
  font-family: inter_medium;
  font-size: 25px;
  font-weight: 900;
  margin-top: 120px;
}

.features_box{
  background-color: #313d66;
  border-radius: 10px;
}

.pricing_box{
  background-color: #313d66;
  border-radius: 10px;
  height: auto;
}

.choose_plan_button,.choose_plan_button:hover{
  background-color: #171a31;
  color: white;
  /* font-weight: bold; */
  border: none;
}

.contact_us{
  background: linear-gradient(135deg, #1a1a2e, #16213e) !important;
  margin-top: 110px;
  border: none;
}

.direction_adjuster{
  justify-content: center;
  align-items: center;
}